* {
    padding: 0;
    margin: 1rem 0 0;
}

body {
    text-align: center;
    font-family: Avenir,Helvetica,serif;
    color: rgb(37, 37, 37);
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
}

h2 {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}


p {
    font-size: 1rem;
    margin: 0.3rem;
    font-family: Georgia,Times,Times New Roman,serif;
}

#content {
    margin: auto;
    width: 40rem;
    overflow-wrap: break-word;
    text-align: left;
}

#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32em;
}

.legend {
    text-align: center;
    font-weight: bold;
    padding-bottom: 2.5rem;
}

footer {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    margin-top: 10rem;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 2rem 2rem 0rem;
    text-align: left;
}

a {
    color: red;
}

#date {
    padding-top: 1rem;
    text-align: left;
    text-decoration: underline;
}